@import "../mixin/size";
@import "../mixin/color";

.l-sidebar{
	position: fixed;
	top: 0;
	left: 0;
	width: $sidebar-width-size;
	height: 100vh;
	background-color: $sidebar-background-color;
	padding: 20px 0;

	.l-sidebar__item{
		width: 100%;
		max-width: 120px;
		margin: 0 auto;
		padding: 10px 0;
		overflow-x: scroll;

		.l-sidebar__item__link{
			display: block;
			color: #fff;
		}
	}
}
