.l-sub-content{
	width: 100%;

	.l-sub-content__create{
		width: fit-content;
		margin: 0 0 0 auto;
		padding: 6px 10px;
		display: block;
		color: #fff;
		font-size: 0.9rem;
		background-color: #7c98ff;
		border-radius: 10px;
	}
}
