@import "../mixin/size";
@import "../mixin/color";

.not-found-data{
	width: 100%;
	height: 400px;
	margin: 20px 0 0 0;
	padding: 10px;
	border-radius: 10px;
	background-color: $sub-background-color;
	display: flex;
	align-items: center;

	i{
		width: 100%;
		height: fit-content;
		text-align: center;
		display: block;
		margin: 0 auto;
		text-decoration: none;
	}
}

.l-main{
	width: 100%;
	padding: 20px 40px;
}

.l-gest-main{
	width: 100%;
	height: 100vh;
}
